:root {
  --primary-color: #db236d; /* Valor por defecto */
  --secondary-color: #000000; /* Valor por defecto */
  --bg-color: #fbf4f7; /* Valor por defecto */
}

body {
  font-family: "NotoSansRegular", sans-serif;
  font-size: 14px;
  overflow-x:hidden;
}
.main_carousel_wapper .rec-carousel .rec-slider-container .sc-fqkvVR .rec-swipable .rec-carousel-item .rec-item-wrapper img{
 max-width:75%;
 width:100% !important;
}


h2 {
  font-family: "PlayFairDisplayBlack";
  font-size: 25px;
  text-align: center;
  color: var(--primary-color);
  max-width: 600px;
  margin: 0 auto;
}

.WidgetCocktail {
  width: 300px;
  height: 600px;
  background-color: var(--bg-color);
  padding: 25px 9px 30px 9px;
  margin: 0 auto;
}


.emojis {
  font-size: 20px;
  position: absolute;
  bottom: 2px;
}

.subtitle {
  color: var(--secondary-color);
  font-size: 14px;
  font-family: "NotoSansBold";
  text-align: center;
  margin-bottom: 14px;
  margin-top: 20px;
}
.wrp_left_section .MuiGrid-root {
  display: flex;
  align-items: center;
}
.box {
  position: relative;
  height: 175px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 6px 12px 0px #00000026;
  margin-top: 12px;
}

.box.desktop:hover .container-image,
.box.desktop:hover .content-box h3,
.box.desktop:hover .content-box .mini-desc {
  opacity: 0;
  transition: opacity 0.5s;
}

.box.desktop:hover .content-box .description {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
  padding: 15px;
}

.box .container-image {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 126px;
  height: 100%;
  display: block;
  float: left;
}

.box .content-box {
  display: block;
  float: left;
  width: 156px;
  padding: 15px 10px;
}

.box .container-image::before {
  content: "";
  display: block;
  padding-bottom: 100%; /* Esto hará que la altura sea igual al ancho (1:1) */
}

.box .container-image img {
  position: absolute;
  width: 100%; /* Hace que la imagen ocupe todo el espacio del contenedor */
  height: 100%; /* Aprovecha el padding-bottom calculado */
  top: 0;
  left: 0;
  border-radius: inherit; /* Hereda el border-radius del contenedor */
}

.box .content-box .description {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .content-box h3 {
  color: var(--primary-color);
  font-size: 20px;
  line-height: 22px;
  font-family: "PlayFairDisplayBlack";
  margin-bottom: 0;
}

.box .content-box .mini-desc {
  color: var(--secondary-color);
  font-family: "NotoSansBold";
  text-align: left;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
}

.box .content-box .title-desc {
  color: var(--secondary-color);
  font-family: "PlayFairDisplayBlack";
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 22px;
}

.box .content-box .description .desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.box a,
.box span {
  color: #fff;
  font-family: "NotoSansBold";
  margin-bottom: 0;
  background-color: var(--primary-color);
  border-radius: 32px;
  padding: 7px 20px;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  right: 10px;
  text-align: center;
  width: 136px;
  cursor: pointer;
}

.more-options-link {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  font-family: "NotoSansRegular";
  font-size: 14px;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.legal {
  justify-content: center;
  font-family: "NotoSansRegular";
  font-size: 10px;
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  margin-top: 8px;
}
.image_full_web img{
  margin-right:50px;
  margin-top:40px;
}
.grid_image_right_container{
  width: 50% !important;
  max-width: 50% !important;
  flex: 1 1 !important;
}
.grid_image_right_container img{
  width: 70% !important;
  height: 70% !important;
  margin-right:50px;
  margin-top:40px;
 object-fit:initial !important; 

}
.MuiGrid-root.main_wrapper_inner{
  padding:0px !important;
}
.left_section_coctail{
  margin:0px !important;
}

.MuiGrid-root.step4Container{
  padding:0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step4conatiner{
  padding-top:50px;
}
.left_section_coctail .MuiBox-root.css-wufngj{
  margin:0px !important;
}
.wrapper{
  height: 100vh;
}
.main_quize_step_wrp{
  display: flex
  ;
      align-items: center;
      justify-content: center;
      height: 100vh;
  
}
#dishes-container-mobile{
  margin:0px;
}
.makeStyles-firstStepTitle-15{
  margin:0px !important;
}
.world_class_step1 .makeStyles-firstStepDescriptionContainer-12{
  padding-top: 50px;
  margin:0px;
}
/* @media (max-width:1280px) {
.image_right_step4{
  display: flex;
  justify-content: center;
}
.image_right_step4 img{
  width:60%;
  height:60%;
 }

} */
@media screen and (max-width:991px){
  .css-1td2qw4.step4_full_wrapper{
  height: 100% !important;
  padding-bottom: 100px;
}
  .full_wrapper_section{
    height:100vh;
  }
.full_app_container{
  height:100vh;
}

.right_image_container{
  display: flex;
  padding-bottom:30px;
  justify-content: center;
}
.mob_set4_title p{
  font-size:35px !important;
}
.image_right_step4{
  padding-left:15px;
}
.footer-right{
  display: flex !important;
}
.right_image_container img{
 width:90% !important;
}
.btworldclass{
  margin:20px 0px!important;
}
.makeStyles-continueButtonDesktop-8 {
  width: 100%;

}
#dishes-container-mobile{
  margin-bottom:0px ;
}
.makeStyles-firstStepDescriptionContainer-12.css-5t6y36{
  padding: 0px 20px !important;
  width: 100%;
}
.atmosphere_wrapper .MuiGrid-root .css-amvzg{
  padding: 0px 20px !important;
}
.box_wrp{
  width:100% !important;
}

.main_footer{
  padding-top: 0px !important;
  padding:0px;
  padding-right: 0px !important;
}
.mob_main_carousel{
  padding-bottom:30px !important;
}
}